html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body{
    font-family: 'Cabin', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: left;
    font-size: 100px;
    font-family: 'Syncopate', sans-serif;
    margin-top: -20px;
}

.main{
    display: flex;
    flex-direction: row-reverse;
}

button{
    height: max-content;
    width: 300px;
    border-color: transparent;
    padding: 5px 10px;
}

.games{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    margin-left: 80px;
}

#word-button{
    font-family: 'Pacifico', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#003314;
    background-color: #E5DCC8;
    font-size: 60px;
}

#getphrazy-button{
    font-family: 'Special Elite', cursive;
    background-color:#355071;
    color: #ccc;
    font-size:28px;
}

#getphrazy-button span{
    font-family: 'Rock Salt', cursive;
    font-size: 45px;
}

.flip-container {
    background-color: transparent;
    width: 300px;
    height: 120px;
  }

  #getphrazy-desc {
    color:#355071;
    background-color: #ccc;
  }

  #word-desc {
    background-color:#003314;
    color: #E5DCC8;
  }

  .back{
      font-size: 17px;
      white-space: pre-wrap;
      font-family: 'Cabin', sans-serif;
  }

  .contact{
      text-align: center;
  }

  a{
      text-decoration: none;
      color: black;
  }

  .show{
      font-size: 25px;
      font-family: 'Pacifico', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .down{
      transform: rotate(180deg);
  }

      h1{
          padding-top: 3px;
      }
    .flip-inner{
        min-width: 350px;
        max-width: 350px;
    }
    .flip-container{
        position: relative;
        width: auto;        
    }
    .games{
        display: block;
        margin-top: -15px;
        margin-left: 10px;
    }
    .playnow{
        padding: 10px 0;
        text-align: center;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .playnow span{
        text-transform: uppercase;
        white-space: nowrap;
        display: block;
    }
    .getphrazy-play{
        background-color:#355071;
        color: #ccc;
    }
    .word-play{
        color:#003314;
    background-color: #E5DCC8;
    }
    button{
        width: 100%;
        height: 121.5px;
    }
    .back{
        height: 95px;
    }
    #getphrazy-button{
        padding-top: 40px;
        line-height: 32px;
    }
    #word-button{
        padding-top: 30px;
        line-height: 48px;
    }


@media (max-width: 767px){
    .flip-inner{
        max-width: none;
    }
    body{
        display: block;
    }
    .main{
        flex-direction: column;
        margin: 20px 10px 10px 10px;
    }
    .games{
        margin: 0;
    }
    .title{
        text-align: center;
    }
    h1{
        font-size: 50px;
        margin:0;
        display: inline-block;
    }
    .brainplay{
        white-space: nowrap;
    }
    .flip-container{
        height: auto;
    }
    .playnow span{
        text-transform: uppercase;
    }
}

@media (max-width: 364px){
    h1{
        font-size: 35px;
    }
    #getphrazy-button{
        padding-top: 34px;
        font-size: 22px;
    }
    #getphrazy-button span{
        font-size: 35px;
        line-height: 1.2em;
    }
    #word-button{
        padding-top: 25px;
        font-size: 50px;
    }
    .back{
        font-size: 15px;
    }
    button{
        height: 115.5px;
    }
}

@media (hover:hover){
    .back, .playnow, .show{
        cursor: pointer;
    }
}